/**
 * Main custom CSS for project
 */

.loading {
  text-align: center;
  font-size: 2em;
  padding: 1em;
}

.error {
  color: #CC4C48;
}

.search-container {
  padding: 1em 0;
}

.search-container label {
  display: block;
}

.search-container input,
.search-container button {
  font-size: 1.5em;
  display: inline-block;
  padding: 0.5em 0.5em;
  border: 1px solid #676767;
  background-color: #FFFFFF;
}

.search-container input {
  width: 70%;
}

.search-container button {
  cursor: pointer;
  background-color: #81CC48;
  color: #FFFFFF;
  border: 1px solid transparent;
  font-weight: bold;
}

.search-container button:hover {
  background-color: #61BF1A;
}

.map {
  width: 100%;
  height: 18em;
  margin-bottom: 1em;
}

.incumbent {
  color: #969696;
}

.contest .map-container {
  float: right;
  width: 33.33333%;
}

.contest .candidates {
  float: left;
  width: 66.66663%;
  padding-right: 0.5em;
}

.candidates .candidate {
  padding: 0.25em;
}

.candidates .candidate:nth-child(even) {
  background-color: #ccc;
}

.candidate .name {
  font-weight: bold;
}

.candidate > div {
  width: 33.33332%;
  float: left;
  padding-right: 0.5em;
}

.strib footer {
  font-size: .85em;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  background-color: inherit;
  margin-top: 2rem;
}

.cf {
  zoom: 1;
}
.cf:before, .cf:after {
  content: ""; display: table;
}
.cf:after {
  clear: both;
}
